body {
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.container {
    background-color: white;
    margin: 2rem auto;
    width: 27rem;
    height: 30rem;
    border-radius: 5px;
}

.whole {
    display: flex;
    flex-direction: column;
}

.line {
    height: 0.4rem;
    width: 2rem;
    background-color: #d3e6f4;
    margin-top: 2.1rem;
    border-radius: 2rem;
}

h1 {
    color: #3a89cf;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.7rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.p1 {
    color: #bfbab4;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.head {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.middle {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    line-height: normal;
}

.no1 {
    font-family: sans-serif;
}

.p2 {
    padding-left: 2.5rem;
    color: #bfbab4;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}

.head1 {
    padding-left: 2.5rem;
    font-family: sans-serif;
}

.p3 {
    margin-left: 1rem;
    color: #bfbab4;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}

.head2 {
    margin-left: 1rem;
    font-family: sans-serif;
}

.p4 {
    margin-right: 8rem;
    color: #bfbab4;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}

.letter {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-justify: space-between;
    justify-items: space-between;
    justify-content: space-between;
    margin-left: 2.5rem;
    padding-top: 0.4rem;
}

p {
    margin-top: 1rem;
    color: #bfbab4;
    font-weight: 600;
    font-size: 0.7rem;
}

.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
}

.image {
    margin-top: 5rem;
    padding-right: 5rem;
    margin-bottom: 2.7rem;
}